$primary_0_100: rgb(79, 69, 49)
$primary_0_200: rgb(117, 99, 62)
$primary_0_300: rgb(158, 129, 72)
$primary_0_400: rgb(191, 157, 90)
$primary_0_500: rgb(211, 181, 121)
$primary_0_600: rgb(228, 203, 155)
$primary_0_700: rgb(241, 225, 193)
$neutral_0_100: rgb(76, 76, 76)
$neutral_0_200: rgb(93, 93, 93)
$neutral_0_300: rgb(108, 111, 110)
$neutral_0_400: rgb(123, 131, 127)
$neutral_0_500: rgb(139, 149, 144)
$neutral_0_600: rgb(155, 167, 161)
$neutral_0_700: rgb(172, 184, 178)
$accent_0_100: rgb(17, 29, 13)
$accent_0_200: rgb(36, 67, 26)
$accent_0_300: rgb(53, 109, 35)
$accent_0_400: rgb(69, 154, 41)
$accent_0_500: rgb(83, 202, 44)
$accent_0_600: rgb(110, 224, 73)
$accent_0_700: rgb(142, 237, 111)
$accent_1_100: rgb(63, 96, 90)
$accent_1_200: rgb(77, 134, 124)
$accent_1_300: rgb(89, 172, 158)
$accent_1_400: rgb(116, 196, 182)
$accent_1_500: rgb(147, 216, 204)
$accent_1_600: rgb(181, 233, 224)
$accent_1_700: rgb(219, 246, 241)
$accent_2_100: rgb(28, 22, 42)
$accent_2_200: rgb(50, 36, 79)
$accent_2_300: rgb(70, 47, 119)
$accent_2_400: rgb(89, 54, 163)
$accent_2_500: rgb(109, 65, 203)
$accent_2_600: rgb(138, 99, 220)
$accent_2_700: rgb(167, 136, 234)
$accent_3_100: rgb(41, 20, 17)
$accent_3_200: rgb(80, 35, 28)
$accent_3_300: rgb(123, 47, 36)
$accent_3_400: rgb(170, 57, 40)
$accent_3_500: rgb(216, 68, 45)
$accent_3_600: rgb(230, 101, 82)
$accent_3_700: rgb(242, 137, 121)
